/* 
    Introduction to Jakarta Enterprise Edition - Servlet
    https://github.com/egalli64/jees
 */

body {
    background-color: #fafaee;
}

h1, h2 {
  text-align: center;
}

header {
    margin-bottom: 20px;
}

main {
    display: flex;
    margin: 2vw;
}

section {
    flex: auto;
}
