/* 
    Introduction to Jakarta Enterprise Edition - Servlet
    https://github.com/egalli64/jees
 */

body {
    background-color: #fafaee;
}

h1 {
  text-align: center;
}

header {
    margin-bottom: 20px;
}